
button {
  border-radius: 5px
}

button {
  border-radius: top 5px
}

button {
  border-radius: 5px 10px
}

button {
  border-radius: top 5px bottom 10px
}

button {
  border-radius: left 5px
}

button {
  border-radius: left 5px right 2px
}
