
.dark-button {
  background: black;
}

.dark-button:hover {
  background: rgba(0,0,0,.5);
}

.dark-button:hover .icon {
  color: rgba(255,255,255,.5);
}

button,
.actions a {
  extend: .dark-button;
  padding: 5px 10px;
}
