.logo {
  background-image: url('/public/images/logo.png')
}

@media all and (-webkit-min-device-pixel-ratio: 1.5 or -moz-min-device-pixel-ratio: 1.5) {
  .logo {
    background-image: url("/public/images/logo@2x.png");
    background-size: contain
  }
}