.logo {
  background-image: url('/public/images/logo.png') at-2x;
}

.banner {
  background-image: url('/public/images/banner.png') at-2x;
  background-size: cover;
}

.background {
  background-image: url('/public/images/background.png');
}
