
button {
  padding: 5px 10px;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
}

.green {
  background: green;
  padding: 10px 15px
}

a.join {
  extend: button;
  extend: .green;
}

@media screen and (min-width) {
  body {
    background: #fff;
  }
}

a.button
input[type='submit'],
input[type='button'] {
  extends: button;
  margin: 2px;
}
