@-moz-keyframes fade { 
  from {opacity: 0;} 
  to {opacity: 1;} 
}
@-webkit-keyframes fade { 
  from {opacity: 0;} 
  to {opacity: 1;} 
}
@keyframes fade { 
  from {opacity: 0;} 
  to {opacity: 1;} 
}
