@keyframes fade { 
  from { border-radius: 5px; } 
  to { border-radius: 10px; } 
}
@-moz-keyframes fade { 
  from { border-radius: 5px; -moz-border-radius: 5px; } 
  to { border-radius: 10px; -moz-border-radius: 10px; } 
}
@-webkit-keyframes fade { 
  from { border-radius: 5px; -webkit-border-radius: 5px; } 
  to { border-radius: 10px; -webkit-border-radius: 10px; } 
}
