
button {
  width: 120px;
}

button.round {
  width: 50px;
  height: @width;
  line-height: @height;
  background-size: @width @line-height;
  color: #eee;
  background: linear-gradient(@color, @color);
}

@media screen {
  button {
    background: url('button@2x.png');
    width: 80px;
    height: @width;
  }
}
