button {
  width: 120px;
}

button.round {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-size: 50px 50px;
  color: #eee;
  background: linear-gradient(#eee, #eee);
}

@media screen {
  button {
    background: url('button@2x.png');
    width: 80px;
    height: 80px;
  }
}
