body {
  background: url("http://example.com/images/bg.png") repeat-x;
}

#logo {
  background: url("http://example.com/images/logo.jpeg");
}

@font-face {
  font-family: 'icons';
  src: url("http://example.com/icons/font/icons.eot");
  src: url("http://example.com/icons/font/icons.eot?#iefix")
    format('embedded-opentype'),
    url("http://example.com/icons/font/icons.woff")
    format('woff'),
    url("http://example.com/icons/font/icons.ttf")
    format('truetype'),
    url("http://example.com/icons/font/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #logo {
    background-image: url("http://example.com/core/logo@2x.png");
  }
}
