div {
  var-accent-background: linear-gradient(to top, var(main-color), white);
}

h1 {
  background-color: var(header-color);
}

.content {
  background: var(accent-background) !important;
}

@media only screen and (min-device-width: 600px) {
  h2 {
    color: var(main-color);
  }
}
